<h1>Cadastre um usuáriow</h1>
<form action="/users/create" method="post">
    <div class="mb-3">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digie seu nome">
    </div>
    <div class="mb-3">
        <label for="occupation">Profissão</label>
        <input type="text" name="occupation" placeholder="Digie sua profissão">
    </div>
    <div class="mb-3">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoções</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>